---
import style from './Intro.module.css'
import SocialLinks from '../../molecules/SocialLinks'
import {
  SOCIAL_GITHUB,
  SOCIAL_LINKEDIN,
  SOCIAL_TWITTER,
} from '../../../consts'


interface Props {
	description: string;
	subtitle: string;
	titleLine1: string;
	titleLine2: string;
	titleLine3: string;
}

const {
	description,
	subtitle,
	titleLine1,
	titleLine2,
	titleLine3,
} = Astro.props;
---
<section class={style.intro}>
	<div class={style.inner}>
		<h1>
			<span class={style.hc1}>{titleLine1}</span>
			<span class={style.hc2}>{titleLine2}</span >
			<span id="title-last-line" class={style.hc3}>{titleLine3}</span>
		</h1>
		<p class={style.subtitle}>{subtitle}</p>
		<SocialLinks
			className={style.socialLinks}
			socialAccountItems={
				[
					{
						icon: 'github',
						label: 'GitHub',
						url: SOCIAL_GITHUB
					},
					{
						icon: 'linkedin',
						label: 'LinkedIn',
						url: SOCIAL_LINKEDIN
					},
					{
						icon: 'twitter',
						label: 'Twitter',
						url: SOCIAL_TWITTER
					}
				]
			}
		/>
		<p class={style.description}>{description}</p>
	</div>
</section>
<script>
document.addEventListener("DOMContentLoaded", () => {
	const mainTitle = document.getElementById('title-last-line');

	if (! mainTitle) {
		console.error('#main-title not located.')
		return;
	}

	mainTitle.classList.add('loaded');
});
</script>
