---
import formatBlogDate from '../../../utilities/formatBlogDate';
import styles from './PostDate.module.css';

export interface Props {
	pubDate?: Date;
	displayLastUpdated?: boolean;
	lastUpdated?: Date;
}

const {
	pubDate,
	displayLastUpdated = true,
	lastUpdated
} = Astro.props;

const formattedDate = pubDate ? formatBlogDate(pubDate) : null
const formattedLastUpdated = lastUpdated ? formatBlogDate(lastUpdated) : null
---
{ formattedDate &&
	<p class={styles.postDate}><time datetime={`${pubDate}`} itemprop="dateModified">{`${formattedDate}`}</time></p>
}
{ displayLastUpdated && formattedLastUpdated && (
	<p class={styles.lastUpdated}>Updated: <time datetime={`${lastUpdated}`} itemprop="dateModified">{`${formattedLastUpdated}`}</time></p>
) }