---
import BaseHead from '../components/BaseHead.astro';
import Layout from '../components/organisms/Layout'
import Hero from '../components/molecules/Hero'
import Content from '../components/molecules/Content'
import ContentCTA from '../components/molecules/ContentCTA'
import MediaContent from '../components/molecules/MediaContent'
import twitterCard from '../content/assets/mike-in-prague-800x418.jpg'
import heroProfile from '../content/assets/mike-in-prague-500x500.jpg'
import heroImage from '../content/assets/shot-by-cerqueira-0o_GEzyargo-unsplash-2000x1000.jpeg'
import mediaContentImage1 from '../content/assets/anas-alshanti-feXpdV001o4-unsplash.jpg'
import mediaContentImage2 from '../content/assets/harpal-singh-_zKxPsGOGKg-unsplash.jpg'
import mediaContentImage3 from '../content/assets/350zduino-1080x720.jpg'
import contentCTAImage from '../content/assets/spacex-uj3hvdfQujI-unsplash-2000x1000.jpeg'
import PageSchema from '../components/PageSchema.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
			image={twitterCard.src}
			imageAlt="Mike England standing in front of a beautiful Prague cityscape background during a work meetup."
		/>
		<PageSchema />
	</head>
	<body>
		<Layout>
			<Hero
				title="Hi! I'm Mike England"
				content="I love to laugh at my own jokes, drift cars, and build projects with React & JavaScript."
				img={heroImage.src}
				imgAlt="White 350z with bronze rims drifting in the city during a rainy night."
				profileImg={heroProfile.src}
			/>
			<Content
				title="About Me"
				titleTag="h2"
				content={'Currently, I manage a software development team that is focused on developing and maintaining the application and database services at <a href="https://kinsta.com/">Kinsta</a>.'}
			/>
			<MediaContent
				imgClipRight={true}
				img={mediaContentImage1.src}
				imgAlt="Purple luminescent mechanical keyboard."
				title="Career Skills"
				content={`
				<p>In April 2022, I was promoted to a Development Team Lead position, which shifted my focus away from coding on a regular basis. Don't worry; I still love working on personal projects and helping out! Here are some of my current skills:</p>
				<ul>
				<li>Performance Reviews</li>
				<li>Coaching & Mentoring</li>
				<li>Team Management & Growth</li>
				<li>NodeJS</li>
				<li>JavaScript / TypeScript</li>
				<li>React</li>
				<li>Gutenberg</li>
				</ul>
				`}
			/>
			<MediaContent
				img={mediaContentImage2.src}
				imgAlt="Iconography design layout sheet."
				title="Design Background"
				content="<p>I believe it's important to remember where you started, and my journey began as a designer. I spent years in the field, creating everything from branding projects to website concepts. To this day, I apply many design disciplines to create, build, and test applications.</p>"
			/>
			<MediaContent
				imgClipRight={true}
				img={mediaContentImage3.src}
				imgAlt="ESP8266 microcontoller with breadboard running an LCD screen."
				title="Arduino & Drifting"
				content={'<p>In my free time, I like to find ways to combine my passion for technology with my love for drifting cars. In one of my recent projects, I made an OBDII reader that connects to my <a href="https://github.com/michealengland/350z-drift-elmduino">Nissan 350z using an ESP32 microcontroller and bluetooth</a>.</p>'}
			/>
			<ContentCTA
				content="I enjoy solving challenges and creating products with code. In fact, you can find this entire website, along with many of my other personal projects, on my GitHub profile."
				label="View My GitHub Profile"
				title="Checkout some of my work"
				url="https://github.com/michealengland?tab=repositories"
			/>
			<ContentCTA
				content="Follow me on Twitter! I enjoy sharing code tips and projects that I'm working on."
				img={contentCTAImage.src}
				label="@mikelikethebike"
				title="Let's Connect"
				url="https://twitter.com/mikelikethebike"
			/>
		</Layout>
	</body>
</html>