---
// Components.
import BaseHead from '../components/BaseHead.astro';
import Content from '../components/molecules/Content'
import ContentCTA from '../components/molecules/ContentCTA'
import Hero from '../components/molecules/Hero'
import LatestPosts from '../components/molecules/LatestPosts/index.astro'
import Layout from '../components/organisms/Layout'
import MediaContent from '../components/molecules/MediaContent'

// Images.
import contentCTAImage from '../content/assets/charlie-and-the-mechanical-keyboard-2000x1000.jpg'
import heroProfile from '../content/assets/mike-england-square-profile-800x800.jpg'
import mediaContentImage1 from '../content/assets/anas-alshanti-feXpdV001o4-unsplash.jpg'
import mediaContentImage2 from '../content/assets/harpal-singh-_zKxPsGOGKg-unsplash.jpg'
import mediaContentImage3 from '../content/assets/350zduino-1080x720.jpg'
import PageSchema from '../components/PageSchema.astro'
import twitterCard from '../content/assets/mike-in-prague-800x418.jpg'

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
			image={twitterCard.src}
			imageAlt="Mike England standing in front of a beautiful Prague cityscape background during a work meetup."
		/>
		<PageSchema />
	</head>
	<body>
		<Layout>
			<Hero
				title="Mike England"
				profileImg={heroProfile.src}
				content="JavaScript & React developer with a passion for crafting exceptional digital experiences."
			/>
			<Content
				title="Professional Journey"
				titleTag="h2"
				content="<p>With a background in design and development, I've consistently improved processes, enhanced product quality, and pursued continuous learning to stay ahead in the ever-evolving tech landscape.</p>"
			/>
			<LatestPosts title="Recent Posts" />
			<MediaContent
				imgClipRight={true}
				img={mediaContentImage1.src}
				imgAlt="Purple luminescent mechanical keyboard."
				title="Key Skills"
				content={`
				<ul>
					<li>Proficient in React, JavaScript, TypeScript, and Node.js</li>
					<li>Skilled in project leadership and team management</li>
					<li>Effective communicator adept at coaching and mentoring</li>
					<li>Experienced in building and managing high-traffic web applications</li>
					<li>Passionate learner and problem solver</li>
				</ul>
				`}
			/>
			<MediaContent
				img={mediaContentImage2.src}
				imgAlt="Iconography design layout sheet."
				title="Design Background"
				content="<p>I believe it's important to remember where you started, and my journey began as a designer. I spent years in the field, creating everything from branding projects to website concepts. To this day, I apply many design disciplines to create, build, and test applications.</p>"
			/>
			<MediaContent
				imgClipRight={true}
				img={mediaContentImage3.src}
				imgAlt="ESP8266 microcontoller with breadboard running an LCD screen."
				title="Arduino & Drifting"
				content={'<p>In my free time, I like to find ways to combine my passion for technology with my love for drifting cars. In one of my recent projects, I made an OBDII reader that connects to my <a href="https://github.com/michealengland/350z-drift-elmduino">Nissan 350z using an ESP32 microcontroller and bluetooth</a>.</p>'}
			/>
			<ContentCTA
				content="<p>I greatly enjoy sharing workflow and productivity hacks. In fact, I created a series in which I share how to get up and running with the GitHub CLI!</p>"
				label="Learn More"
				title="Productivity Tips"
				url="/blog/ghcli-0-maximizing-your-workflow-with-the-github-cli/"
			/>
			<ContentCTA
				content="Seeking a skilled JS, Node, or React developer? Connect with me on LinkedIn. Let's discuss how I can contribute to your team's success!"
				img={contentCTAImage.src}
				label="Connect"
				title="Hire Me"
				url="https://www.linkedin.com/in/michealengland/"
			/>
		</Layout>
	</body>
</html>