---
import { getCollection } from 'astro:content';
import PostDate from '../../atoms/PostDate/PostDate.astro'
import style from './LatestPosts.module.css';

export interface Props {
  title?: string;
}

const { title='' } = Astro.props;
const isProd = import.meta.env.PROD;
const posts = (await getCollection('blog'))
	.filter((post) => !isProd || post.data.isDraft !== true)
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 3)
---
<section class={style.latestPosts}>
	{ title && ( <h2 class={style.heading}>{ title }</h2> ) }
	<div class={style.inner}>
	{posts.map(({ slug, data }) => (
		<article role="listitem" tabindex="0">
			<a href={ `/blog/${slug}` }>
				<img
					src={ data.heroImage }
					alt={ data.heroAlt }
					height="480"
					width="960"
				/>
				<PostDate
					displayLastUpdated={false}
					lastUpdated={ data.lastUpdated }
					pubDate={ data.pubDate }
				/>
				<h3 class={style.title}>{ data.title }</h3>
			</a>
		</article>
	))}
	</div>
</section>
