---
import Heading from '../../atoms/Heading';
import PostDate from '../../atoms/PostDate/PostDate.astro';
import styles from './PostHeader.module.css';

export interface Props {
  date: string;
  heroAlt?: string;
  heroImage?: string;
  lastUpdated: string;
  title: string;
}

const { date, title, lastUpdated, heroImage, heroAlt='' } = Astro.props;

const dateTimeStamp = date && new Date(date)
const lastUpdatedTimeStamp = lastUpdated && new Date(lastUpdated)
---

<header class={styles.postHeader}>
  {heroImage && (
    <div class={styles.hero}>
      {heroImage && <img width={1020} height={510} src={heroImage} alt={heroAlt} />}
    </div>
  )}
  <div class={styles.inner}>
    <Heading className={styles.title} tag="h1">{title}</Heading>
    <PostDate
      dateTimestamp={dateTimeStamp}
      lastUpdatedTimestamp={lastUpdatedTimeStamp}
    />
  </div>
</header>
