---
import Heading from '../../atoms/Heading';
import PostDate from '../../atoms/PostDate/PostDate.astro';
import styles from './PostHeader.module.css';

export interface Props {
  pubDate: Date;
  heroAlt?: string;
  heroImage?: string;
  lastUpdated: Date | undefined;
  title: string;
}

const { pubDate, title, lastUpdated, heroImage, heroAlt='' } = Astro.props;
---

<header class={styles.postHeader}>
  {heroImage && (
    <div class={styles.hero}>
      {heroImage && <img width={1020} height={510} src={heroImage} alt={heroAlt} />}
    </div>
  )}
  <div class={styles.inner}>
    <Heading className={styles.title} tag="h1">{title}</Heading>
    <PostDate
      lastUpdated={lastUpdated}
      pubDate={pubDate}
    />
  </div>
</header>
