---
import Heading from '../../atoms/Heading';
import PostDate from '../../atoms/PostDate/PostDate.astro';
import styles from './PostHeader.module.css';

export interface Props {
  title: string;
  date: string;
  lastUpdated: string;
  heroImage?: string;
  heroAlt?: string;
}

const { date, title, lastUpdated, heroImage, heroAlt = "" } = Astro.props;
---

<header class={styles.postHeader}>
  {heroImage && (
    <div class={styles.hero}>
      {heroImage && <img width={1020} height={510} src={heroImage} alt={heroAlt} />}
    </div>
  )}
  <div class={styles.inner}>
    <Heading class={styles.title} tag="h1">{title}</Heading>
    <PostDate
      dateTimestamp={date}
      lastUpdatedTimestamp={lastUpdated}
    />
  </div>
</header>
