---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import BlogSchema from '../components/BlogSchema.astro'
import Layout from '../components/organisms/Layout'
import PostHeader from '../components/molecules/PostHeader'

type Props = CollectionEntry<'blog'>['data'];

const {
	title,
	description,
	pubDate,
	lastUpdated,
	heroImage,
	heroAlt,
	slug
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<BlogSchema
			content=""
			heroUrl={heroImage}
			lastUpdated={lastUpdated}
			pubDate={pubDate}
			slug={slug}
			title={title}
		/>
	</head>
	<body>
		<Layout>
			<article itemtype="https://schema.org/Article">
				<PostHeader
					title={title}
					date={pubDate}
					lastUpdated={lastUpdated}
					heroImage={heroImage}
					heroAlt={heroAlt}
				/>
				<slot />
			</article>
		</Layout>
	</body>
</html>
