---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Layout from '../components/organisms/Layout'
import PostHeader from '../components/molecules/PostHeader'

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;

---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.hero-image {
				@apply bg-primary-purple1/10;
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				box-shadow: var(--box-shadow);
			}
		</style>
	</head>

	<body>
		<Header />
		<Layout>
			<article>
				<div class="hero-image">
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<PostHeader
					title={title}
					date={pubDate}
					lastUpdated={updatedDate}
				/>
				<hr />
				<slot />
			</article>
		</Layout>
	</body>
</html>
